<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
</head>

<body>
    <div class="login-box">
        <h2>Login</h2>
        <form>
            <div class="user-box">
                <input type="text" id="id" required="" placeholder="ID">
            </div>
            <div class="user-box">
                <input type="text" id="name" required="" placeholder="Name">
            </div>
            <div class="user-box">
                <input type="password" id="password" required="" placeholder="Password">
            </div>
            <div class="user-box">
                <input type="password" id="confirm-password" required="" placeholder="Password Check">
            </div>
            <a>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <p id="button" class="login-box-info">Sign UP</p>
            </a>
            <p class="message" style="color: aliceblue; font-size: 12px; padding-left: 150px;">Already registered?<a
                    href="/login" style="margin:0px; margin-left:2px; font-size:12px; padding:3px;">login</a></p>
        </form>
    </div>
</body>

</html>

<!--Copyright (c) 2024 by Soufiane Khalfaoui HaSsani (https://codepen.io/soufiane-khalfaoui-hassani/pen/LYpPWda)-->